
@{
    ViewData["Title"] = "New";
}

@model Person

<h3 style="margin-top: 25px;">Add a new person</h3>
<hr/>

<form method="post" asp-action="Save" asp-controller="Person">
    <div style="text-align: left !important">
        <table>
            <tr>
                <td style="padding: 10px;"><label for="textFirstName">First name:</label></td>
                <td style="padding: 10px;"><input type="text" asp-for="FirstName" style="font-weight: 600; width: 175px;text-align: center;"/></td>
                <td style="padding: 10px;"><span asp-validation-for="FirstName"></span></td>
            </tr>
            <tr>
                <td style="padding: 10px;"><label for="textSurname">Surname:</label></td>
                <td style="padding: 10px;"><input type="text" asp-for="Surname" style="font-weight: 600; width: 175px; text-align: center;"/></td>
                <td style="padding: 10px;"><span asp-validation-for="Surname"></span></td>
            </tr>
            <tr>
                <td style="padding: 10px;"><label for="textBirthday">Birthday:</label></td>
                <td style="padding: 10px;"><input type="date" asp-for="Birthday" style="font-weight: 600; width: 175px; text-align: center;"/></td>
                <td style="padding: 10px;"><span asp-validation-for="Birthday"></span></td>
            </tr>
        </table>
        <br/>
        <button type="submit" class="btn btn-outline-dark btn-sm" style="margin-left: 162px;">Submit</button>
    </div>
</form>
