
@{
    ViewData["Title"] = "Search";
}

@model Person

@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert @ViewBag.Type" role="alert" id="divAlert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Success!</strong> @ViewBag.Message
    </div>

    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 3000);
    </script>
}

<h3 style="margin-top: 25px;">Search</h3>
<hr />

<form method="post" asp-action="SearchPeople" asp-controller="Person">
    <div style="text-align: left !important">
        <table>
            <tr>
                <td style="padding: 10px;"><label for="textFirstName">First name:</label></td>
                <td style="padding: 10px;"><input type="text" asp-for="FirstName" style="font-weight: 600; width: 175px;text-align: center;" /></td>
                <td style="padding: 10px;"><span asp-validation-for="FirstName"></span></td>
            </tr>
            <tr>
                <td style="padding: 10px;"><label for="textSurname">Surname:</label></td>
                <td style="padding: 10px;"><input type="text" asp-for="Surname" style="font-weight: 600; width: 175px; text-align: center;" /></td>
                <td style="padding: 10px;"><span asp-validation-for="Surname"></span></td>
            </tr>
        </table>
        <br />
        <button type="submit" class="btn btn-outline-dark btn-sm" style="margin-left: 162px;">Submit</button>
    </div>
</form>
